{
  "postgres": {
    "host": "{{ pg_host }}:{{ pg_port }}",
    "user": "{{ pg_user }}",
    "pass": "{{ pg_pass }}",
    "name": "{{ pg_db }}",
    "options": null
  },
  "mysql": {
    "host": "",
    "user": "",
    "pass": "",
    "name": "",
    "options": null
  },
  "bolt": {
    "host": "",
    "user": "",
    "pass": "",
    "name": "",
    "options": null
  },
  "dialect": "postgres",
  "port": "3000",
  "interface": "",
  "tmp_path": "/tmp/semaphore",
  "cookie_hash": "changeme-cookie-hash",
  "cookie_encryption": "changeme-cookie-encryption",
  "access_key_encryption": "changeme-access-key-encryption",
  "email_sender": "",
  "email_host": "",
  "email_port": "",
  "email_username": "",
  "email_password": "",
  "ldap_binddn": "",
  "ldap_bindpassword": "",
  "ldap_server": "",
  "ldap_searchdn": "",
  "ldap_searchfilter": "",
  "ldap_mappings": {
    "dn": "",
    "mail": "",
    "uid": "",
    "cn": ""
  },
  "telegram_chat": "",
  "telegram_token": "",
  "max_parallel_tasks": 0,
  "email_alert": false,
  "email_secure": false,
  "telegram_alert": false,
  "ldap_enable": false,
  "ldap_needtls": false,
  "ssh_config_path": "",
  "demo_mode": false
}
